@charset "UTF-8";
/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .color-header {
  background-color: #216869;
}
header nav div a .logo-empresa-header {
  width: 130px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #1F2421;
  margin-left: 50px;
}
header nav div button.boton-menu {
  border: none;
}
header nav div button.boton-menu:focus {
  box-shadow: none;
}
header nav div div.menu-derecha {
  flex-grow: 0;
}
header nav div div ul.menu-ul li a {
  color: #f8f9fa;
  font-size: 20px;
}
header nav div div ul ul.fondo-negro {
  background-color: #1F2421;
}

main {
  background-color: #9cc5a1;
  padding-bottom: 40px;
}
main h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 30px;
}
main section {
  display: flex;
  column-gap: 10px;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main section section h2 {
  font-family: "Poppins", sans-serif;
}
main section section h3 {
  font-family: "Poppins", sans-serif;
}
main section section p {
  font-family: "Roboto", sans-serif;
}
main section section div h2 {
  font-family: "Poppins", sans-serif;
}
main section section div h3 {
  font-family: "Poppins", sans-serif;
}
main section section div p {
  font-family: "Roboto", sans-serif;
}
main div p {
  font-family: "Roboto", sans-serif;
}

main .slider {
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
main .slider .slider-track {
  display: flex;
  animation: scroll 80s linear infinite;
  -webkit-animation: scroll 80s linear infinite;
  width: 7200px;
  margin-top: 20px;
}
main .slider .slider-track .slide {
  width: 400px;
}
main .slider .slider-track .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-animation: translateX(0);
    transform: translate(0);
  }
  100% {
    -webkit-animation: translateX(-3600px);
    transform: translate(-4500px);
  }
}
main section article {
  background-color: rgba(220, 225, 222, 0.7764705882);
  width: 400px;
  height: 600px;
  border-radius: 35px;
  overflow: hidden;
}
main section article img {
  width: 100%;
  height: 350px;
  padding: 15px;
  border-radius: 35px;
}
main section article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
}

main a .icono-whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
}

main div.main-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 10px;
}
main div div.contacto-informacion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}
main div div.contacto-informacion img {
  width: 40px;
  height: 40px;
}
main div div div.contacto-cards {
  display: flex;
  justify-content: center;
  align-content: end;
}
main div div div.contacto-formulario {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: start;
  justify-content: center;
}

main div.main-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
main div.main-nosotros img {
  margin: 15px;
  margin-top: 40px;
  border: solid 5px #1F2421;
  width: 600px;
  height: 400px;
}
main div div.nosotros-texto {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 15px;
}
main div div.nosotros-texto h1 {
  padding: 0;
  margin: 20px;
  margin-left: 0;
}

footer {
  background-color: #216869;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  font-size: 15px;
}
footer a .logo-empresa-footer {
  width: 120px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #1F2421;
  margin: 15px;
}
footer h1 {
  font-family: "Poppins", sans-serif;
}
footer h2 {
  font-family: "Poppins", sans-serif;
}
footer h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
footer h4 {
  font-family: "Poppins", sans-serif;
}
footer p {
  font-family: "Roboto", sans-serif;
}
footer div.informacion-footer {
  display: grid;
  padding: 10px;
  padding-bottom: 10px;
}
footer div img {
  width: 50px;
  height: 50px;
}
footer div.ubicacion-imagenes-footer {
  display: grid;
  width: 200px;
  height: 200px;
  justify-items: center;
  align-items: center;
}
footer div.ubicacion-imagenes-footer .redes-sociales {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50px;
}
footer div.ubicacion-imagenes-footer .medios-de-pago {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
footer div div a .imagenes-sociales {
  width: 70px;
  height: 70px;
}

@media (max-width: 992px) {
  /*Header*/
  header nav ul li {
    text-align: center;
  }
  header nav ul li a {
    text-align: center;
  }
  /*html contacto*/
  main div.main-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  /*html nosotros*/
  main div.main-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  main div.main-nosotros img {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  /*Tamño logo*/
  header nav div a .logo-empresa-header {
    width: 90px;
  }
  /*card*/
  main h1 {
    font-size: 25px;
  }
  main section article {
    margin: 15px;
  }
  /*html nosotros*/
  main div.main-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
  }
  main div.main-nosotros img {
    width: 90%;
    height: auto;
    margin-top: 5px;
  }
  /*Footer*/
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
  footer div {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  footer a .logo-empresa-footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
