/*---------------configuracion general---------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------HEADER CON BOOTSTRAP----------------*/

.color-header {
    background-color: #216869;
}

/* Logo empresa*/

.logo-empresa-header {
    width: 130px;
    border-radius: 50%; 
    border-style:solid;
    border-width: 5px;
    border-color: #1F2421;
    margin-left: 50px;
}

/*botones del nav*/

.menu-derecha {
    flex-grow: 0;
}

/*Textos*/

.menu-ul li a {
    color: #f8f9fa;
    font-size: 20px;
}

.fondo-negro {
    background-color: #1F2421;
}

.boton-menu {
    border: none;
}

.boton-menu:focus {
    box-shadow: none;
}
/* --------------------MAIN-------------------- */

/*Color del main*/
main {
    background-color: #9cc5a1;
    padding-bottom: 40px;
}  

/*Configuracion de titulos principales*/
main h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

/*Configuracion de los articulos*/
main section article {
    background-color: #dce1dec6;
    width: 400px;
    height: 600px;
    border-radius: 35px;
    overflow: hidden;
}

/*Ubicaciones de los articulos*/
main section {
    display: flex;
    column-gap: 10px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Imagenes dentro de los articulos*/
main section article img {
    width: 100%;
    height: 350px;
    padding: 15px;
    border-radius: 35px;
}

/*Codigo para centrar y mover texto*/
main section article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
}

/*Fuente de textos de articulos*/
main section article div h2 {font-family: 'Poppins', sans-serif;}
main section article h2 {font-family: 'Poppins', sans-serif ;}
main section article div h3 {font-family: 'Poppins', sans-serif;}
main section article h3 {font-family: 'Poppins', sans-serif;}
main section article div p  {font-family: 'Roboto', sans-serif;}
main section article p  {font-family: 'Roboto', sans-serif;}
main div p {font-family: 'Roboto', sans-serif;}

/*---------------Main Contacto----------------*/

.main-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 10px;
}

.contacto-informacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.contacto-informacion img {
    width: 40px;
    height: 40px;
}

.contacto-cards {
    display: flex;
    justify-content: center;
    align-content: end;

}

.contacto-formulario {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: start;
    justify-content: center;
}

/*---------------Main nosotros---------------*/

.main-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.main-nosotros img {
    margin: 15px;
    margin-top: 40px;
    border: solid 5px #1F2421;
    width: 600px;
    height: 400px;
}

.nosotros-texto {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 15px;
}

.nosotros-texto h1 {
    padding: 0;
    margin: 20px;
    margin-left: 0;
}

/*Clase del icono de whatsapp fijo*/
.icono-whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
}
/*--------------------FOOTER--------------------*/

/*color del footer*/

footer {
    background-color: #216869;
}

/*Fuentes del footer*/
footer h1 {font-family: 'Poppins', sans-serif;}
footer h2 {font-family: 'Poppins', sans-serif;}
footer h3 {font-family: 'Poppins', sans-serif;}
footer h4 {font-family: 'Poppins', sans-serif;}
footer p {font-family: 'Roboto', sans-serif;}

/*Tamaño de imagenes dentro del footer*/
footer div img {
    width: 50px;
    height: 50px;
}

.imagenes-sociales {
    width: 70px;
    height: 70px;
}

/*Logo empresa del footer*/
.logo-empresa-footer {
    width: 120px;
    border-radius: 50%; 
    border-style:solid;
    border-width: 5px;
    border-color: #1F2421;
    margin: 15px;
}

/*Ubicacion de objetos dentro del footer*/

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    font-size: 15px;
}

footer h3 {
    font-size: 20px;
}


.ubicacion-imagenes-footer {
    display: grid;
    width: 200px;
    height: 200px;
    justify-items: center;
    align-items: center;
}

.ubicacion-imagenes-footer .redes-sociales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
}

.ubicacion-imagenes-footer .medios-de-pago {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.informacion-footer {
    display: grid;
    padding: 10px;
    padding-bottom: 10px;
}

/*--------------------RESPONSIVE--------------------*/



@media (max-width:992px) {

/*Header*/

    header nav ul li a {
        text-align: center;
    }
    header nav ul ul li{
        text-align: center;
    }
/*Html contacto*/
    .main-contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

/*Html Nosotros*/

.main-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.main-nosotros img {
    margin-top: 20px;
}

}

@media (max-width:768px) {

/*MAIN PARA MENOS DE 768PX*/

.logo-empresa-header {
    width: 90px;
}

main h1 {
    font-size: 25px;
}


main section article {
    margin: 15px;
}

/*html nosotros*/

.main-nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
}


.main-nosotros img{
    width: 90%;
    height: auto;
    margin-top: 5px;

}


/*FOOTER PARA MENOS DE 768PX*/
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}
footer div {
    align-items: center;
    justify-items: center;
}

.logo-empresa-footer {
    display: none;
}

}

