/*MAIN-CONTACTO*/

main{
    div { 
        &.main-contacto {
                    @include grid(repeat(2, 1fr), none);
                    align-items: center;
                    margin: 10px;
                    div {
                        &.contacto-informacion {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                margin: 20px;
                                img {
                                    width: 40px;
                                    height: 40px;
                                    }
                                }
                        div {
                            &.contacto-cards {
                                display: flex;
                                justify-content: center;
                                align-content: end;
                                align-items: center;
                                p {
                                    font-family: $titulos;
                                    padding-top: 10px;
                                }
                                }
                                }
                            }
                        }
                    div {
                        &.boton-formulario { 
                            display: flex;
                            justify-content: end;
                            margin-right: 40px;
                            button {
                                color: #1F2421;
                                background-color: #f8f9fa;
                                border-color: rgb(159, 159, 159);
                            }
                        }
                        div {
                            &.contacto-formulario{
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                justify-content: center;
                                margin: 40px;
                                font-family: $titulos;
                                }
                            }
                        }   
                    }
        }