/*HEADER*/

header {  
        .color-header {
            background-color: nth($list: $colores, $n:1);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236f6e70' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        }
        nav {
            div {
                a { .logo-empresa-header {
                        width: 130px;
                        border-radius: 50%;
                        border-style: solid;
                        border-width: 5px;
                        border-color: nth($list: $colores, $n: 3);
                        margin-left: 50px;
                        }
                    }
                button { &.boton-menu {
                        border: none;
                        }
                        &.boton-menu:focus {
                            box-shadow: none;
                        }
                    }
                div {
                    &.menu-derecha {
                        flex-grow: 0;
                        }
                    ul {
                        &.menu-ul {
                                li {
                                    a {
                                        color: nth($list: $colores, $n:4);
                                        font-size: 20px;
                                        font-family: $titulos;
                                        }
                                    }
                                }
                                ul {
                                    &.fondo-negro {
                                        background-color: nth($list: $colores, $n: 3);
                                        li {
                                            a {
                                                font-family: $titulos;
                                            }
                                        }
                                    }
                        }
                        }
                    }
                }
                }
            }