/*MAIN-NOSOTROS*/

main { 
        div {
                &.main-nosotros {
                    @include grid(repeat(2, 1fr), none);
                    justify-items: center;
                    div {
                        img {
                            margin: 15px;
                            border: solid 5px nth($list: $colores, $n: 3);
                            width: 600px;
                            height: 400px;
                        }
                    }
                    }
                div {
                    &.nosotros-texto {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        margin: 15px;
                        div {
                            p {
                                font-family: $parrafo;
                            }
                        }
                    }
                }
            }
}