main { 
        div {
                &.main-nosotros {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    justify-items: center;
                    div {
                        img {
                            margin: 15px;
                            border: solid 5px #1F2421;
                            width: 600px;
                            height: 400px;
                        }
                    }
                    }
                div {
                    &.nosotros-texto {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        margin: 15px;
                    }
                }
            }
}