/*MEDIA-TABLET*/

@media (max-width:992px) {

/*Header*/
header {
    nav {
        ul {
            li {
                text-align: center;
                a {
                    text-align: center;
                }
            }
        }
    }
}

/*html contacto*/

main {
    div {
        &.main-contacto {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
        }
    }
}
/*boton wpp*/
main {
    a {
        .icono-whatsapp {
            position:fixed;
            width:40px;
            height:40px;
            bottom:40px;
            right:40px;
        }
        }
    }

/*html nosotros*/
main {
    h1{
        margin-bottom: 15px;
    }
    div {
        &.main-nosotros {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    height: auto;
                    margin-top: 5px;
                }
            }
        }
        
    }
}
}